/* Custom CSS */
.rounded-small {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image round */
    overflow: hidden; /* Ensures the image doesn't overflow the rounded corners */
  }
  


  
    /* Reviews Card */
    .reviews-card {
        background-color: #f9f9f9;
        margin-bottom: 20px;
      }
  
      .review {
        padding: 15px;
        border-bottom: 1px solid #ccc;
      }
  
      .review:last-child {
        border-bottom: none;
      }
  
      .stars {
        color: #FFD700; /* Gold color for stars */
      }
  
      /* Buy Now Card */
      .buy-now-card {
        background-color: #f3f3f3;
        margin-bottom: 20px;
      }
  
      /* Publisher Card */
      .publisher-card {
        background-color: #e9e9e9;
      }
  
      /* Form Input */
      .form-control {
        width: calc(100% - 20px);
        padding: 6px 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      /* Submit Button */
      .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 20px;
        border-radius: 4px;
        cursor: pointer;
      }
  
      .btn-primary:hover {
        background-color: #0056b3;
      }